<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Aggregating-and-Combining-pandas-DataFrames" data-toc-modified-id="Aggregating-and-Combining-pandas-DataFrames-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Aggregating and Combining <code>pandas</code> DataFrames</a></span><ul class="toc-item"><li><span><a href="#Objectives" data-toc-modified-id="Objectives-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Objectives</a></span></li></ul></li><li><span><a href="#Loading-Example-Data:-Austin-Animal-Center-Data" data-toc-modified-id="Loading-Example-Data:-Austin-Animal-Center-Data-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Loading Example Data: Austin Animal Center Data</a></span></li><li><span><a href="#Aggregating-over-DataFrames:-.groupby()" data-toc-modified-id="Aggregating-over-DataFrames:-.groupby()-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Aggregating over DataFrames: <code>.groupby()</code></a></span><ul class="toc-item"><li><span><a href="#.groups-and-.get_group()" data-toc-modified-id=".groups-and-.get_group()-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span><code>.groups</code> and <code>.get_group()</code></a></span><ul class="toc-item"><li><span><a href="#Multi-Indexing" data-toc-modified-id="Multi-Indexing-3.1.1"><span class="toc-item-num">3.1.1&nbsp;&nbsp;</span>Multi-Indexing</a></span></li></ul></li><li><span><a href="#Aggregating" data-toc-modified-id="Aggregating-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Aggregating</a></span></li><li><span><a href="#Exercise" data-toc-modified-id="Exercise-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Exercise</a></span></li></ul></li><li><span><a href="#Pivoting-a-DataFrame" data-toc-modified-id="Pivoting-a-DataFrame-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Pivoting a DataFrame</a></span><ul class="toc-item"><li><span><a href="#.pivot_table()" data-toc-modified-id=".pivot_table()-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span><code>.pivot_table()</code></a></span><ul class="toc-item"><li><span><a href="#Example" data-toc-modified-id="Example-4.1.1"><span class="toc-item-num">4.1.1&nbsp;&nbsp;</span>Example</a></span></li><li><span><a href="#Back-to-Austin-animals" data-toc-modified-id="Back-to-Austin-animals-4.1.2"><span class="toc-item-num">4.1.2&nbsp;&nbsp;</span>Back to Austin animals</a></span></li></ul></li><li><span><a href="#Exercise" data-toc-modified-id="Exercise-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Exercise</a></span></li></ul></li><li><span><a href="#Methods-for-Combining-DataFrames:-.join(),-.merge(),-pd.concat()" data-toc-modified-id="Methods-for-Combining-DataFrames:-.join(),-.merge(),-pd.concat()-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Methods for Combining DataFrames: <code>.join()</code>, <code>.merge()</code>, <code>pd.concat()</code></a></span><ul class="toc-item"><li><span><a href="#.join()" data-toc-modified-id=".join()-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span><code>.join()</code></a></span></li><li><span><a href="#.merge()" data-toc-modified-id=".merge()-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span><code>.merge()</code></a></span></li><li><span><a href="#The-how-Parameter" data-toc-modified-id="The-how-Parameter-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>The <code>how</code> Parameter</a></span></li><li><span><a href="#pd.concat()" data-toc-modified-id="pd.concat()-5.4"><span class="toc-item-num">5.4&nbsp;&nbsp;</span><code>pd.concat()</code></a></span></li></ul></li><li><span><a href="#King-County-Assessments" data-toc-modified-id="King-County-Assessments-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>King County Assessments</a></span><ul class="toc-item"><li><span><a href="#First,-get-the-data!" data-toc-modified-id="First,-get-the-data!-6.1"><span class="toc-item-num">6.1&nbsp;&nbsp;</span>First, get the data!</a></span></li><li><span><a href="#Exercise" data-toc-modified-id="Exercise-6.2"><span class="toc-item-num">6.2&nbsp;&nbsp;</span>Exercise</a></span></li></ul></li><li><span><a href="#Time-Permitting:-Data-Cleaning-Exercises-with-Pandas" data-toc-modified-id="Time-Permitting:-Data-Cleaning-Exercises-with-Pandas-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Time Permitting: Data Cleaning Exercises with Pandas</a></span><ul class="toc-item"><li><span><a href="#Investigate-and-drop-rows-with-invalid-values-in-the-SalePrice-and-SqFtTotLiving-columns." data-toc-modified-id="Investigate-and-drop-rows-with-invalid-values-in-the-SalePrice-and-SqFtTotLiving-columns.-7.1"><span class="toc-item-num">7.1&nbsp;&nbsp;</span>Investigate and drop rows with invalid values in the SalePrice and SqFtTotLiving columns.</a></span></li><li><span><a href="#Investigate-and-handle-non-numeric-ZipCode-values" data-toc-modified-id="Investigate-and-handle-non-numeric-ZipCode-values-7.2"><span class="toc-item-num">7.2&nbsp;&nbsp;</span>Investigate and handle non-numeric ZipCode values</a></span></li><li><span><a href="#Add-a-column-for-PricePerSqFt" data-toc-modified-id="Add-a-column-for-PricePerSqFt-7.3"><span class="toc-item-num">7.3&nbsp;&nbsp;</span>Add a column for PricePerSqFt</a></span></li><li><span><a href="#Subset-the-data-to-2021-sales-only" data-toc-modified-id="Subset-the-data-to-2021-sales-only-7.4"><span class="toc-item-num">7.4&nbsp;&nbsp;</span>Subset the data to 2021 sales only</a></span></li><li><span><a href="#What-is-the-mean-price-per-square-foot-for-a-house-sold-in-Seattle-in-2021?" data-toc-modified-id="What-is-the-mean-price-per-square-foot-for-a-house-sold-in-Seattle-in-2021?-7.5"><span class="toc-item-num">7.5&nbsp;&nbsp;</span>What is the mean price per square foot for a house sold in Seattle in 2021?</a></span></li></ul></li><li><span><a href="#Level-Up:-pandas.set_option()" data-toc-modified-id="Level-Up:-pandas.set_option()-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Level Up: <code>pandas.set_option()</code></a></span><ul class="toc-item"><li><span><a href="#Block-Scientific-Notation" data-toc-modified-id="Block-Scientific-Notation-8.1"><span class="toc-item-num">8.1&nbsp;&nbsp;</span>Block Scientific Notation</a></span></li><li><span><a href="#See-More-Rows" data-toc-modified-id="See-More-Rows-8.2"><span class="toc-item-num">8.2&nbsp;&nbsp;</span>See More Rows</a></span></li></ul></li></ul></div>

In [1]:
import pandas as pd
import numpy as np
import requests as rq
from sklearn.preprocessing import OneHotEncoder
from zipfile import ZipFile

# Aggregating and Combining `pandas` DataFrames

## Objectives

- Use GroupBy objects to organize and aggregate data
- Create pivot tables from DataFrames
- Combine DataFrames by merging and appending

We'll work with the Austin Animal Center dataset and with data from King County's Department of Assessments (Seattle housing data).

# Loading Example Data: Austin Animal Center Data

In [2]:
data = rq.get('https://data.austintexas.gov/resource/9t4d-g238.json').text

In [3]:
animals = pd.read_json(data)

In [4]:
animals.head()

,animal_id,name,datetime,monthyear,date_of_birth,outcome_type,animal_type,sex_upon_outcome,age_upon_outcome,breed,color,outcome_subtype
0,A846395,*Hernando,2021-11-30 18:02:00,2021-11-30T18:02:00.000,2015-11-15T00:00:00.000,Adoption,Cat,Neutered Male,6 years,Domestic Shorthair Mix,Black/White,NaN
1,A846454,NaN,2021-11-30 17:54:00,2021-11-30T17:54:00.000,2021-09-17T00:00:00.000,Adoption,Cat,Spayed Female,2 months,Domestic Shorthair,Brown Tabby,NaN
2,A847315,Que,2021-11-30 17:46:00,2021-11-30T17:46:00.000,2016-03-05T00:00:00.000,Return to Owner,Dog,Neutered Male,5 years,Border Collie,Black/White,NaN
3,A847188,Marley,2021-11-30 16:51:00,2021-11-30T16:51:00.000,2015-11-28T00:00:00.000,Return to Owner,Dog,Spayed Female,6 years,Chihuahua Shorthair Mix,Tan,NaN
4,A847003,*Maude,2021-11-30 16:46:00,2021-11-30T16:46:00.000,2019-08-23T00:00:00.000,Adoption,Dog,Spayed Female,2 years,Australian Cattle Dog,Blue Tick,NaN

# Aggregating over DataFrames: `.groupby()`

Those of you familiar with SQL have probably used the GROUP BY command. (And if you haven't, you'll see it very soon!) Pandas has this, too.

The `.groupby()` method is especially useful for aggregate functions applied to the data grouped in particular ways.

In [5]:
animals.groupby('animal_type')

In [6]:
animals.columns

Index(['animal_id', 'name', 'datetime', 'monthyear', 'date_of_birth',
       'outcome_type', 'animal_type', 'sex_upon_outcome', 'age_upon_outcome',
       'breed', 'color', 'outcome_subtype'],
      dtype='object')

We can group by multiple columns, and also return a DataFrameGroupBy object

Notice the object type [DataFrameGroupBy](https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html) object.

## `.groups` and `.get_group()`

In [7]:
# This retuns each group indexed by the group name, e.g. 'Bird',
# along with the row indices of each value

animals.groupby('animal_type').groups

{'Bird': [65, 118, 361, 402, 693], 'Cat': [0, 1, 6, 7, 17, 18, 19, 20, 23, 24, 25, 26, 27, 28, 30, 33, 34, 37, 40, 42, 43, 46, 47, 51, 55, 56, 57, 58, 63, 66, 67, 81, 82, 85, 87, 88, 91, 92, 98, 100, 103, 108, 110, 113, 115, 116, 117, 122, 124, 125, 127, 128, 129, 133, 134, 137, 138, 139, 141, 153, 154, 155, 161, 164, 165, 166, 167, 169, 171, 172, 173, 174, 175, 177, 178, 182, 183, 190, 194, 203, 206, 207, 209, 212, 216, 217, 218, 226, 227, 228, 229, 230, 236, 238, 240, 242, 243, 255, 256, 260, ...], 'Dog': [2, 3, 4, 5, 8, 9, 10, 11, 12, 13, 14, 15, 16, 21, 22, 29, 31, 32, 35, 36, 38, 39, 41, 44, 45, 48, 49, 50, 52, 53, 54, 59, 60, 61, 62, 64, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 83, 84, 86, 89, 93, 94, 95, 96, 97, 99, 101, 102, 104, 105, 106, 107, 109, 111, 112, 114, 119, 120, 121, 123, 126, 130, 131, 132, 135, 136, 140, 142, 143, 144, 145, 146, 147, 148, 156, 157, 158, 159, 160, 162, 163, 168, 170, 176, 179, 180, 181, ...], 'Other': [90, 149, 150, 151, 152, 224, 225, 248, 263, 268, 289, 290, 295, 367, 442, 443, 444, 502, 503, 504, 518, 564, 565, 566, 567, 628, 646, 694, 697, 698, 755, 772, 779, 802, 803, 810, 847, 900, 903, 958, 959]}

Once we know we are working with a type of object, it opens up a suite of attributes and methods. One attribute we can look at is groups.

In [8]:
# Once we know the group indices, we can return the groups using those indices.
animals.groupby('animal_type').get_group('Dog')

,animal_id,name,datetime,monthyear,date_of_birth,outcome_type,animal_type,sex_upon_outcome,age_upon_outcome,breed,color,outcome_subtype
2,A847315,Que,2021-11-30 17:46:00,2021-11-30T17:46:00.000,2016-03-05T00:00:00.000,Return to Owner,Dog,Neutered Male,5 years,Border Collie,Black/White,NaN
3,A847188,Marley,2021-11-30 16:51:00,2021-11-30T16:51:00.000,2015-11-28T00:00:00.000,Return to Owner,Dog,Spayed Female,6 years,Chihuahua Shorthair Mix,Tan,NaN
4,A847003,*Maude,2021-11-30 16:46:00,2021-11-30T16:46:00.000,2019-08-23T00:00:00.000,Adoption,Dog,Spayed Female,2 years,Australian Cattle Dog,Blue Tick,NaN
5,A847336,Gizmo,2021-11-30 16:45:00,2021-11-30T16:45:00.000,2020-05-20T00:00:00.000,Return to Owner,Dog,Spayed Female,1 year,Chihuahua Shorthair,Tan,NaN
8,A846983,Paloma,2021-11-30 16:02:00,2021-11-30T16:02:00.000,2021-06-16T00:00:00.000,Adoption,Dog,Spayed Female,5 months,German Shepherd Mix,Brown,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
978,A844464,A844464,2021-11-02 16:35:00,2021-11-02T16:35:00.000,2021-07-16T00:00:00.000,Adoption,Dog,Neutered Male,3 months,Labrador Retriever,Black,NaN
980,A845618,A845618,2021-11-02 16:21:00,2021-11-02T16:21:00.000,2021-10-18T00:00:00.000,Transfer,Dog,Intact Female,2 weeks,German Shepherd Mix,Brown/Black,Partner
996,A845553,Capitan,2021-11-02 13:05:00,2021-11-02T13:05:00.000,2020-11-01T00:00:00.000,Return to Owner,Dog,Intact Male,1 year,Siberian Husky Mix,Black/White,NaN
997,A844050,Sophie,2021-11-02 12:18:00,2021-11-02T12:18:00.000,2014-11-02T00:00:00.000,Rto-Adopt,Dog,Spayed Female,7 years,American Bulldog,Brown Brindle,NaN
998,A845345,NaN,2021-11-02 11:05:00,2021-11-02T11:05:00.000,2020-10-28T00:00:00.000,Transfer,Dog,Intact Male,1 year,Chow Chow/German Shepherd,Tan/Black,Partner

### Multi-Indexing

In [9]:
# Same goes for multi-index groupbys
animal_outcome = animals.groupby(['animal_type', 'outcome_type'])
animal_outcome.groups

{('Bird', 'Euthanasia'): [402, 693], ('Bird', 'Transfer'): [65, 118, 361], ('Cat', 'Adoption'): [0, 1, 6, 7, 17, 19, 20, 23, 24, 25, 26, 30, 33, 34, 37, 40, 42, 43, 46, 47, 51, 55, 56, 57, 58, 63, 81, 82, 85, 87, 88, 98, 100, 103, 108, 110, 113, 115, 116, 117, 122, 124, 125, 127, 128, 129, 133, 134, 139, 141, 153, 161, 164, 165, 166, 167, 169, 177, 178, 182, 183, 203, 206, 207, 209, 212, 216, 217, 218, 226, 227, 228, 229, 230, 236, 238, 240, 242, 243, 255, 256, 260, 280, 281, 286, 287, 293, 300, 302, 305, 309, 317, 351, 353, 355, 358, 363, 366, 374, 376, ...], ('Cat', 'Died'): [91, 501, 820, 849, 999], ('Cat', 'Euthanasia'): [265, 440, 484, 605, 705], ('Cat', 'Return to Owner'): [67, 190, 342, 343, 434, 462, 496, 499, 635, 960], ('Cat', 'Rto-Adopt'): [451], ('Cat', 'Transfer'): [18, 27, 28, 66, 92, 137, 138, 154, 155, 171, 172, 173, 174, 175, 194, 267, 271, 272, 273, 274, 275, 276, 278, 307, 368, 369, 370, 371, 387, 388, 389, 390, 391, 407, 408, 409, 410, 481, 488, 489, 490, 491, 492, 493, 528, 622, 623, 624, 625, 626, 652, 653, 654, 676, 677, 678, 679, 680, 712, 713, 733, 734, 735, 736, 737, 738, 739, 748, 750, 775, 776, 777, 781, 782, 783, 836, 837, 838, 839, 865, 916, 917, 918, 926, 927, 943, 956, 962, 963, 979, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, ...], ('Dog', 'Adoption'): [4, 8, 13, 14, 15, 16, 22, 29, 32, 35, 36, 38, 39, 41, 44, 45, 48, 49, 50, 52, 53, 54, 59, 60, 61, 64, 79, 80, 83, 84, 86, 89, 97, 99, 106, 112, 121, 123, 126, 130, 131, 140, 142, 143, 144, 145, 146, 147, 148, 163, 170, 176, 179, 180, 181, 184, 185, 186, 195, 197, 199, 200, 201, 202, 204, 205, 208, 213, 214, 215, 219, 220, 221, 223, 231, 232, 233, 235, 237, 239, 241, 244, 245, 250, 251, 252, 253, 254, 258, 259, 261, 264, 279, 282, 283, 284, 285, 288, 291, 292, ...], ('Dog', 'Died'): [269, 571, 580], ('Dog', 'Euthanasia'): [188, 257, 270, 395, 486, 771], ('Dog', 'Missing'): [692], ('Dog', 'Return to Owner'): [2, 3, 5, 12, 21, 31, 68, 70, 71, 72, 96, 101, 102, 104, 105, 107, 109, 111, 132, 135, 136, 157, 158, 168, 187, 189, 191, 192, 198, 210, 211, 222, 246, 249, 277, 299, 304, 320, 345, 349, 350, 385, 392, 393, 430, 485, 500, 522, 524, 534, 535, 536, 574, 582, 589, 607, 630, 641, 642, 643, 655, 667, 669, 686, 695, 717, 718, 722, 726, 745, 751, 764, 806, 809, 814, 818, 824, 830, 850, 851, 852, 905, 928, 935, 937, 938, 939, 940, 957, 971, 996], ('Dog', 'Rto-Adopt'): [114, 162, 234, 316, 348, 458, 709, 719, 997], ('Dog', 'Transfer'): [9, 10, 11, 62, 69, 73, 74, 75, 76, 77, 78, 93, 94, 95, 119, 120, 156, 159, 160, 193, 196, 247, 262, 266, 303, 313, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 344, 346, 347, 394, 425, 437, 438, 439, 445, 446, 447, 448, 449, 450, 473, 474, 475, 487, 506, 507, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 581, 596, 606, 619, 633, 634, 636, 637, 638, 639, 644, 666, 687, 688, ...], ('Other', 'Adoption'): [90, 149, 150, 151, 152, 289, 290, 518, 697, 698, 779, 802, 803, 810, 847, 958, 959], ('Other', 'Disposal'): [900], ('Other', 'Euthanasia'): [224, 225, 248, 263, 268, 295, 367, 502, 503, 504, 628, 646, 694, 755, 772, 903], ('Other', 'Transfer'): [442, 443, 444, 564, 565, 566, 567]}

In [10]:
# animal_outcome.groups is a dictionary, so we can access the group names using keys()
animal_outcome.groups.keys()

dict_keys([('Bird', 'Euthanasia'), ('Bird', 'Transfer'), ('Cat', 'Adoption'), ('Cat', 'Died'), ('Cat', 'Euthanasia'), ('Cat', 'Return to Owner'), ('Cat', 'Rto-Adopt'), ('Cat', 'Transfer'), ('Dog', 'Adoption'), ('Dog', 'Died'), ('Dog', 'Euthanasia'), ('Dog', 'Missing'), ('Dog', 'Return to Owner'), ('Dog', 'Rto-Adopt'), ('Dog', 'Transfer'), ('Other', 'Adoption'), ('Other', 'Disposal'), ('Other', 'Euthanasia'), ('Other', 'Transfer')])

In [11]:
animals['animal_type'].value_counts()

Dog      521
Cat      433
Other     41
Bird       5
Name: animal_type, dtype: int64

In [12]:
animals['outcome_type'].value_counts()

Adoption           598
Transfer           252
Return to Owner    101
Euthanasia          29
Rto-Adopt           10
Died                 8
Missing              1
Disposal             1
Name: outcome_type, dtype: int64

In [14]:
# We can then get a specific group, such as cats that were adopted
animal_outcome.get_group(('Cat', 'Adoption'))

,animal_id,name,datetime,monthyear,date_of_birth,outcome_type,animal_type,sex_upon_outcome,age_upon_outcome,breed,color,outcome_subtype
0,A846395,*Hernando,2021-11-30 18:02:00,2021-11-30T18:02:00.000,2015-11-15T00:00:00.000,Adoption,Cat,Neutered Male,6 years,Domestic Shorthair Mix,Black/White,NaN
1,A846454,NaN,2021-11-30 17:54:00,2021-11-30T17:54:00.000,2021-09-17T00:00:00.000,Adoption,Cat,Spayed Female,2 months,Domestic Shorthair,Brown Tabby,NaN
6,A846529,Molly,2021-11-30 16:44:00,2021-11-30T16:44:00.000,2018-11-17T00:00:00.000,Adoption,Cat,Spayed Female,3 years,Domestic Shorthair Mix,Blue Tabby,NaN
7,A846528,Leo,2021-11-30 16:44:00,2021-11-30T16:44:00.000,2008-11-17T00:00:00.000,Adoption,Cat,Neutered Male,13 years,Siamese Mix,Flame Point,NaN
17,A687319,Mila,2021-11-30 14:18:00,2021-11-30T14:18:00.000,2012-09-03T00:00:00.000,Adoption,Cat,Spayed Female,9 years,Maine Coon Mix,Brown Tabby,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
977,A845207,A845207,2021-11-02 16:43:00,2021-11-02T16:43:00.000,2021-08-31T00:00:00.000,Adoption,Cat,Spayed Female,2 months,Domestic Shorthair,Torbie,NaN
981,A844988,*Rose,2021-11-02 16:17:00,2021-11-02T16:17:00.000,2019-10-24T00:00:00.000,Adoption,Cat,Spayed Female,2 years,Domestic Shorthair,Tan/White,NaN
982,A845273,NaN,2021-11-02 16:05:00,2021-11-02T16:05:00.000,2021-09-04T00:00:00.000,Adoption,Cat,Neutered Male,1 month,Domestic Shorthair,Brown Tabby/White,NaN
983,A845205,A845205,2021-11-02 16:01:00,2021-11-02T16:01:00.000,2021-08-31T00:00:00.000,Adoption,Cat,Spayed Female,2 months,Domestic Medium Hair,Torbie,NaN
995,A842292,*Gorgonzola,2021-11-02 13:25:00,2021-11-02T13:25:00.000,2021-08-07T00:00:00.000,Adoption,Cat,Spayed Female,2 months,Domestic Shorthair,Brown Tabby/White,NaN

## Aggregating

Once again, as we will see in SQL, groupby objects are intended to be used with aggregation. In SQL, we will see that our queries that include GROUP BY require aggregation performed on columns.

We can use `.sum()`, `.mean()`, `.count()`, `.max()`, `.min()`, etc. Find a list of common aggregations [here](https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html).

In [18]:
animals.groupby('animal_type').count()

,animal_id,name,datetime,monthyear,date_of_birth,outcome_type,sex_upon_outcome,age_upon_outcome,breed,color,outcome_subtype
animal_type,,,,,,,,,,,
Bird,5,2,5,5,5,5,5,5,5,5,5
Cat,433,359,433,433,433,433,433,433,433,433,166
Dog,521,476,521,521,521,521,521,521,521,521,186
Other,41,15,41,41,41,41,41,41,41,41,29

## Exercise

Use `.groupby()` to find the most recently born of each (main) animal type.

In [33]:
display(type(animals["date_of_birth"][0]))
display(animals["date_of_birth"][0])

# Change the str to datatime object
animals["date_of_birth_new"] = pd.to_datetime(animals["date_of_birth"])
animals["date_of_birth_new"]

animals.groupby(["animal_type"])["date_of_birth_new"].max()

str

'2015-11-15T00:00:00.000'

animal_type
Bird    2021-10-10
Cat     2021-11-13
Dog     2021-11-09
Other   2021-10-22
Name: date_of_birth_new, dtype: datetime64[ns]

<details>
    <summary>Answer</summary>

```python
animals.groupby('animal_type')['date_of_birth'].max()
```
</details>

# Pivoting a DataFrame

## `.pivot_table()`

Those of you familiar with Excel have probably used Pivot Tables. Pandas has a similar functionality.

Grouping by two different columns can be very helpful.

In [36]:
animals.groupby(by=['outcome_type', 'sex_upon_outcome']).agg([len, "count"])

                                 animal_id       name       datetime        \
                                       len count  len count      len count
outcome_type    sex_upon_outcome
Adoption        Intact Female           13    13   13    12       13    13
                Intact Male             11    11   11    10       11    11
                Neutered Male          298   298  298   274      298   298
                Spayed Female          269   269  269   250      269   269
                Unknown                  7     7    7     0        7     7
Died            Intact Female            4     4    4     1        4     4
                Intact Male              1     1    1     1        1     1
                Spayed Female            2     2    2     2        2     2
                Unknown                  1     1    1     1        1     1
Disposal        Unknown                  1     1    1     0        1     1
Euthanasia      Intact Female            4     4    4     3        4     4
                Intact Male              6     6    6     4        6     6
                Neutered Male            1     1    1     1        1     1
                Spayed Female            1     1    1     0        1     1
                Unknown                 17    17   17     1       17    17
Missing         Spayed Female            1     1    1     1        1     1
Return to Owner Intact Female           24    24   24    21       24    24
                Intact Male             35    35   35    32       35    35
                Neutered Male           23    23   23    23       23    23
                Spayed Female           18    18   18    18       18    18
                Unknown                  1     1    1     1        1     1
Rto-Adopt       Neutered Male            6     6    6     6        6     6
                Spayed Female            4     4    4     4        4     4
Transfer        Intact Female           95    95   95    69       95    95
                Intact Male             67    67   67    40       67    67
                Neutered Male           40    40   40    39       40    40
                Spayed Female           34    34   34    33       34    34
                Unknown                 16    16   16     5       16    16

                                 monthyear       date_of_birth        ...  \
                                       len count           len count  ...
outcome_type    sex_upon_outcome                                      ...
Adoption        Intact Female           13    13            13    13  ...
                Intact Male             11    11            11    11  ...
                Neutered Male          298   298           298   298  ...
                Spayed Female          269   269           269   269  ...
                Unknown                  7     7             7     7  ...
Died            Intact Female            4     4             4     4  ...
                Intact Male              1     1             1     1  ...
                Spayed Female            2     2             2     2  ...
                Unknown                  1     1             1     1  ...
Disposal        Unknown                  1     1             1     1  ...
Euthanasia      Intact Female            4     4             4     4  ...
                Intact Male              6     6             6     6  ...
                Neutered Male            1     1             1     1  ...
                Spayed Female            1     1             1     1  ...
                Unknown                 17    17            17    17  ...
Missing         Spayed Female            1     1             1     1  ...
Return to Owner Intact Female           24    24            24    24  ...
                Intact Male             35    35            35    35  ...
                Neutered Male           23    23            23    23  ...
                Spayed Female           18    18            18    18  ...
                Unknown                  1     1             1     1  ...
Rto-Adopt       Neutered Male            6     6             6     6  ...
                Spayed Female            4     4             4     4  ...
Transfer        Intact Female           95    95            95    95  ...
                Intact Male             67    67            67    67  ...
                Neutered Male           40    40            40    40  ...
                Spayed Female           34    34            34    34  ...
                Unknown                 16    16            16    16  ...

                                 age_upon_outcome       breed       color  \
                                              len count   len count   len
outcome_type    sex_upon_outcome
Adoption        Intact Female                  13    13    13    13    13
                Intact Male                    11    11    11    11    11
                Neutered Male                 298   298   298   298   298
                Spayed Female                 269   269   269   269   269
                Unknown                         7     7     7     7     7
Died            Intact Female                   4     4     4     4     4
                Intact Male                     1     1     1     1     1
                Spayed Female                   2     2     2     2     2
                Unknown                         1     1     1     1     1
Disposal        Unknown                         1     1     1     1     1
Euthanasia      Intact Female                   4     4     4     4     4
                Intact Male                     6     6     6     6     6
                Neutered Male                   1     1     1     1     1
                Spayed Female                   1     1     1     1     1
                Unknown                        17    17    17    17    17
Missing         Spayed Female                   1     1     1     1     1
Return to Owner Intact Female                  24    24    24    24    24
                Intact Male                    35    35    35    35    35
                Neutered Male                  23    23    23    23    23
                Spayed Female                  18    18    18    18    18
                Unknown                         1     1     1     1     1
Rto-Adopt       Neutered Male                   6     6     6     6     6
                Spayed Female                   4     4     4     4     4
Transfer        Intact Female                  95    95    95    95    95
                Intact Male                    67    67    67    67    67
                Neutered Male                  40    40    40    40    40
                Spayed Female                  34    34    34    34    34
                Unknown                        16    16    16    16    16

                                       outcome_subtype        \
                                 count             len count
outcome_type    sex_upon_outcome
Adoption        Intact Female       13              13     4
                Intact Male         11              11     3
                Neutered Male      298             298    36
                Spayed Female      269             269    43
                Unknown              7               7     7
Died            Intact Female        4               4     4
                Intact Male          1               1     1
                Spayed Female        2               2     2
                Unknown              1               1     1
Disposal        Unknown              1               1     0
Euthanasia      Intact Female        4               4     4
                Intact Male          6               6     6
                Neutered Male        1               1     1
                Spayed Female        1               1     1
                Unknown             17              17    17
Missing         Spayed Female        1               1     1
Return to Owner Intact Female       24              24     1
                Intact Male         35              35     0
                Neutered Male       23              23     2
                Spayed Female       18              18     0
                Unknown              1               1     0
Rto-Adopt       Neutered Male        6               6     0
                Spayed Female        4               4     0
Transfer        Intact Female       95              95    95
                Intact Male         67              67    67
                Neutered Male       40              40    40
                Spayed Female       34              34    34
                Unknown             16              16    16

                                 date_of_birth_new
                                               len count
outcome_type    sex_upon_outcome
Adoption        Intact Female                   13    13
                Intact Male                     11    11
                Neutered Male                  298   298
                Spayed Female                  269   269
                Unknown                          7     7
Died            Intact Female                    4     4
                Intact Male                      1     1
                Spayed Female                    2     2
                Unknown                          1     1
Disposal        Unknown                          1     1
Euthanasia      Intact Female                    4     4
                Intact Male                      6     6
                Neutered Male                    1     1
                Spayed Female                    1     1
                Unknown                         17    17
Missing         Spayed Female                    1     1
Return to Owner Intact Female                   24    24
                Intact Male                     35    35
                Neutered Male                   23    23
                Spayed Female                   18    18
                Unknown                          1     1
Rto-Adopt       Neutered Male                    6     6
                Spayed Female                    4     4
Transfer        Intact Female                   95    95
                Intact Male                     67    67
                Neutered Male                   40    40
                Spayed Female                   34    34
                Unknown                         16    16

[28 rows x 22 columns]

But it has the unsavory side effect of creating a two-level index. This can be a good time to use `.pivot_table()`.

(There is also a `.pivot()`. For the somewhat subtle differences, see [here](https://stackoverflow.com/questions/30960338/pandas-difference-between-pivot-and-pivot-table-why-is-only-pivot-table-workin).)

### Example

In [37]:
df = pd.DataFrame({"sex": ["male", "male", "male", "male", "male",
                          "female", "female", "female", "female"],
                    "num_puppies": ["one", "one", "one", "two", "two",
                          "one", "one", "two", "two"],
                    "breed": ["terrier", "retriever", "retriever", "terrier",
                          "terrier", "retriever", "terrier", "terrier",
                          "retriever"],
                    "past_owners": [1, 2, 2, 3, 3, 4, 5, 6, 7],
                    "family_members": [2, 4, 5, 5, 6, 6, 8, 9, 9]})
df

      sex num_puppies      breed  past_owners  family_members
0    male         one    terrier            1               2
1    male         one  retriever            2               4
2    male         one  retriever            2               5
3    male         two    terrier            3               5
4    male         two    terrier            3               6
5  female         one  retriever            4               6
6  female         one    terrier            5               8
7  female         two    terrier            6               9
8  female         two  retriever            7               9

In [45]:
# This first example aggregates values by taking the sum.

table = pd.pivot_table(df, values='family_members', index=['sex'],
                     columns=['breed'], aggfunc=np.sum)
table

breed   retriever  terrier
sex
female         15       17
male            9       13

### Back to Austin animals

In [39]:
animals.pivot_table(index='outcome_type', columns='sex_upon_outcome', aggfunc=len)

                 age_upon_outcome                                          \
sex_upon_outcome    Intact Female Intact Male Neutered Male Spayed Female
outcome_type
Adoption                     13.0        11.0         298.0         269.0
Died                          4.0         1.0           NaN           2.0
Disposal                      NaN         NaN           NaN           NaN
Euthanasia                    4.0         6.0           1.0           1.0
Missing                       NaN         NaN           NaN           1.0
Return to Owner              24.0        35.0          23.0          18.0
Rto-Adopt                     NaN         NaN           6.0           4.0
Transfer                     95.0        67.0          40.0          34.0

                             animal_id                            \
sex_upon_outcome Unknown Intact Female Intact Male Neutered Male
outcome_type
Adoption             7.0          13.0        11.0         298.0
Died                 1.0           4.0         1.0           NaN
Disposal             1.0           NaN         NaN           NaN
Euthanasia          17.0           4.0         6.0           1.0
Missing              NaN           NaN         NaN           NaN
Return to Owner      1.0          24.0        35.0          23.0
Rto-Adopt            NaN           NaN         NaN           6.0
Transfer            16.0          95.0        67.0          40.0

                                        ...          name              \
sex_upon_outcome Spayed Female Unknown  ... Intact Female Intact Male
outcome_type                            ...
Adoption                 269.0     7.0  ...          13.0        11.0
Died                       2.0     1.0  ...           4.0         1.0
Disposal                   NaN     1.0  ...           NaN         NaN
Euthanasia                 1.0    17.0  ...           4.0         6.0
Missing                    1.0     NaN  ...           NaN         NaN
Return to Owner           18.0     1.0  ...          24.0        35.0
Rto-Adopt                  4.0     NaN  ...           NaN         NaN
Transfer                  34.0    16.0  ...          95.0        67.0

                                                     outcome_subtype  \
sex_upon_outcome Neutered Male Spayed Female Unknown   Intact Female
outcome_type
Adoption                 298.0         269.0     7.0            13.0
Died                       NaN           2.0     1.0             4.0
Disposal                   NaN           NaN     1.0             NaN
Euthanasia                 1.0           1.0    17.0             4.0
Missing                    NaN           1.0     NaN             NaN
Return to Owner           23.0          18.0     1.0            24.0
Rto-Adopt                  6.0           4.0     NaN             NaN
Transfer                  40.0          34.0    16.0            95.0


sex_upon_outcome Intact Male Neutered Male Spayed Female Unknown
outcome_type
Adoption                11.0         298.0         269.0     7.0
Died                     1.0           NaN           2.0     1.0
Disposal                 NaN           NaN           NaN     1.0
Euthanasia               6.0           1.0           1.0    17.0
Missing                  NaN           NaN           1.0     NaN
Return to Owner         35.0          23.0          18.0     1.0
Rto-Adopt                NaN           6.0           4.0     NaN
Transfer                67.0          40.0          34.0    16.0

[8 rows x 55 columns]

## Exercise

Use `.pivot_table()` to add up the number of my tasks by category. 

>  Hint: Use `sum()` as your aggregating function.

In [ ]:
tasks = pd.DataFrame({'category': ['house', 'house', 'school', 'school'],
                      'descr': ['kitchen', 'laundry', 'git', 'Python'],
                      'priority': [2, 3, 4, 1], 'num_tasks': [2, 1, 2, 3]})

tasks

<details>
    <summary>Answer</summary>

```python
tasks.pivot_table(values='num_tasks', index='category', aggfunc=sum)
```
</details>

# Methods for Combining DataFrames: `.join()`, `.merge()`, `pd.concat()`

## `.join()`

In [ ]:
toy1 = pd.DataFrame([[63, 142], [33, 47]], columns=['age', 'HP'])
toy2 = pd.DataFrame([[63, 100], [33, 200]], columns=['age', 'MP'])

toy1

In [ ]:
toy2

In [ ]:
# We can't just join these as they are, since we haven't specified our suffixes.

toy1.join(toy2)

In [ ]:
toy1.join(toy2, lsuffix='1', rsuffix='2')

If we don't want to keep both, we could set the overlapping column as the index in each DataFrame:

In [ ]:
toy1.set_index('age').join(toy2.set_index('age'))

In [ ]:
toy1.drop('age', axis=1).join(toy2)

For more on this method, check out the [doc](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.join.html)!

## `.merge()`

Or we could use `.merge()`:

In [ ]:
toy1.merge(toy2)

In [ ]:
ds_chars = pd.read_csv('data/ds_chars.csv', index_col=0)
ds_chars

In [ ]:
states = pd.read_csv('data/states.csv', index_col=0)
states

## The `how` Parameter

This parameter in both `.join()` and `.merge()` tells the compiler what sort of join to effect. We'll cover this in detail when we discuss SQL.

In [ ]:
ds_chars.merge(states,
               left_on='home_state',
               right_on='state',
               how='inner')

In [ ]:
ds_chars.merge(states,
               left_on='home_state',
               right_on='state',
               how='outer')

## `pd.concat()`

This method takes a *list* of pandas objects as arguments.

In [ ]:
prefs = pd.read_csv('data/preferences.csv', index_col=0)
prefs

In [ ]:
ds_full = pd.concat([ds_chars, prefs])
ds_full

`pd.concat()`–– and many other pandas operations –– make use of an `axis` parameter. For this particular method I need to specify whether I want to concatenate the DataFrames *row-wise* (`axis=0`) or *column-wise* (`axis=1`). The default is `axis=0`, so let's override that!

In [ ]:
ds_full = pd.concat([ds_chars, prefs], axis=1)
ds_full

# King County Assessments

As data scientists, we want to build a model to predict the sale price of a house in Seattle in 2019, based on its square footage. We know that the King County Department of Assessments has comprehensive data available on real property sales in the Seattle area. We need to prepare the data.

## First, get the data!

Go [here](https://info.kingcounty.gov/assessor/DataDownload/default.aspx) and download two files: "Real Property Sales" and "Residential Building". Then unzip them. (Or you can run the cells below if you prefer.)

In [ ]:
# %%bash
# cd data
# curl -o property_sales.zip https://aqua.kingcounty.gov/extranet/assessor/Real%20Property%20Sales.zip

In [ ]:
# %%bash
# cd data
# curl -o res_bldg.zip https://aqua.kingcounty.gov/extranet/assessor/Residential%20Building.zip

In [ ]:
# zf = ZipFile('data/property_sales.zip', 'r')
# zf.extractall('data')
# zf.close()

In [ ]:
# zf = ZipFile('data/res_bldg.zip', 'r')
# zf.extractall('data')
# zf.close()

In [ ]:
# You'll need to use a new encoding here. List of all encodings here:
# https://docs.python.org/3/library/codecs.html#standard-encodings

# Both of these csv files have many columns, so we'll just pre-select
# which ones we want to use.

sales_df = pd.read_csv('/Users/gdamico/Downloads/EXTR_RPSale.csv',
                       encoding='latin-1',
                       usecols=['Major', 'Minor', 'DocumentDate', 'SalePrice'])

In [ ]:
sales_df.info()

In [ ]:
bldg_df = pd.read_csv('~/Downloads/EXTR_ResBldg.csv',
                     usecols=['Major', 'Minor', 'SqFtTotLiving', 'ZipCode'])

In [ ]:
bldg_df.info()

In [ ]:
sales_data = pd.merge(sales_df, bldg_df, on=['Major', 'Minor'])

In [ ]:
sales_data.head()

In [ ]:
sales_data.info()

We can see right away that we're missing ZIP codes for many of the sales transactions.

In [ ]:
sales_data.loc[sales_data['ZipCode'].isna()].head()

## Exercise

What percentage of housing records are missing ZIP codes?

<details>
    <summary>Answer</summary>

```python
sales_data['ZipCode'].isna().sum() / sales_data.shape[0]
```
</details>

Let's drop the rows with missing zip codes.

In [ ]:
sales_data = sales_data.loc[~sales_data['ZipCode'].isna(), :]

sales_data.head()

# Time Permitting: Data Cleaning Exercises with Pandas

## Investigate and drop rows with invalid values in the SalePrice and SqFtTotLiving columns.

<details>
    <summary>One possible answer here</summary>

```python
sales_data = sales_data[sales_data['SalePrice'] > 10000]
```
</details>

## Investigate and handle non-numeric ZipCode values

Can you find a way to shorten ZIP+4 codes to the first five digits?

In [ ]:
def is_integer(x):
    try:
        _ = int(x)
    except ValueError:
        return False
    return True

sales_data.loc[sales_data['ZipCode'].apply(is_integer) == False, 'ZipCode'].head()

<details>
    <summary>One possible answer here</summary>

```python
def five_digit_ZIP(x):
    try:
        return int(str(x)[:5])
    except:
        return x
    
sales_data['ZipCode'] = sales_data['ZipCode'].map(five_digit_ZIP)
sales_data = sales_data.loc[sales_data['ZipCode'].apply(is_integer) == True, :]
sales_data['ZipCode'] = sales_data['ZipCode'].map(int)
```
</details>

## Add a column for PricePerSqFt

<details>
    <summary>Answer here</summary>

```python
sales_data['PricePerSqFt'] = sales_data['SalePrice'] / sales_data['SqFtTotLiving']
```
</details>

## Subset the data to 2021 sales only

We can assume that the DocumentDate is approximately the sale date.

<details>
    <summary>Answer here</summary>

```python
sales_data['DocumentDate'] = pd.to_datetime(sales_data['DocumentDate'])
sales_data = sales_data.loc[sales_data['DocumentDate'] > '12/31/2020']
```
</details>

## What is the mean price per square foot for a house sold in Seattle in 2021?

<details>
    <summary>Answer here</summary>

```python
sales_data['PricePerSqFt'].mean()
```
</details>

# Level Up: `pandas.set_option()`

We can adjust how `pandas` works by setting options in advance.

For complete documentation, see [here](https://pandas.pydata.org/pandas-docs/stable/user_guide/options.html).

## Block Scientific Notation

For example, suppose we want to prevent numbers from being displayed in scientific notation.

In [ ]:
df = pd.DataFrame([[1e9, 2e9], [3e9, 4e9]])
df

Then we can use:

In [ ]:
pd.set_option('display.float_format', '{:.2f}'.format)

df

## See More Rows

Or suppose we want `pandas` to show more rows.

In [ ]:
df2 = pd.DataFrame(np.array(range(100)))
df2

In that case we can use:

In [ ]:
pd.set_option('display.max_rows', 100)

df2